{% extends "base.njk" %}

{% block title %}Blog - Massage Nairobi{% endblock %}

{% block content %}
<section class="blog-page">
  <h1>Our Blog</h1>
  <p>Insights, tips, and news from Massage Nairobi</p>
  
  <div class="blog-grid">
    <!-- Blog posts will be loaded dynamically -->
  </div>
</section>
{% endblock %}
