{% extends "base.njk" %}

{% block title %}Our Therapists - Massage Nairobi{% endblock %}

{% block content %}
<section class="therapists-page">
  <h1>Our Professional Therapists</h1>
  <p>Meet our team of certified massage therapists</p>
  
  <div class="therapists-grid">
    <!-- Therapists will be loaded dynamically -->
  </div>
</section>
{% endblock %}
